@charset "utf-8";
/*css reset*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure{margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block;}
html{overflow-x:hidden;}
body{*overflow-x:hidden;}
body{font-family:Arial,"宋体",Verdana, Geneva, sans-serif; font-size:12px; line-height:1.3;}
table{border-collapse: collapse;border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
img{vertical-align:middle;}
address,caption,cite,code,,dfn,em,strong,th,var,{font-style:normal; font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
a{text-decoration:none; color:#4b4b4b;}
a:hover{text-decoration:none; color:#4083ba;}
button,input[type="submit"],input[type="reset"],input[type="button"]{cursor:pointer; outline:none;}
select,input,textarea{font-size:12px; outline:none;}
button,input{border:0; background:none; outline:none;}


/*焦点虚线*/
a:focus{-moz-outline-style:none; outline:none;}
/*两端对齐：
text-align:justify;
text-justify:inter-ideograph;
*/
/*文字排版*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.t2{text-indent:2em;}




/*定位*/
.tr{text-align:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.cb{clear:both;}
.c{display:block; zoom:1;}
.c:after{ clear:both;}
.c:before,.c:after{ content:''; display:table;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}



/*新增样式 */
body{ background:#e8e9eb; color:#888;}
#header{ background:url(../images/header_bg.jpg) 0 0 repeat-x;}
.w1003{ width:1003px; margin:0 auto;}
.logo{ margin-top:35px;}
.language{ text-align:right; padding-top:25px; color:#777777;}
.language a{ padding:0 5px; color:#777;}
.language a:hover{ color:#4083ba;}
.search{ padding-top:15px; width:439px;}
.selet1{ width:100px; height:25px; line-height:25px; margin-right:5px; margin-top:8px;}
.input1{ background:url(../images/search_bg.jpg) 0 0 no-repeat; height:29px; padding-top:5px; padding-bottom:5px; line-height:29px;  overflow:hidden; width:268px; padding-left:18px; color:#a1a1a1; font-size:13px;}
.btn1{ width:48px; height:39px; overflow:hidden; background:url(../images/search_bg.jpg) right 0 no-repeat;}
.aside{ text-align:right; height:26px; line-height:26px; overflow:hidden; color:#777;}
.aside a{ padding:0 5px; color:#777;}
.aside a:hover{ color:#4083ba;}
.aside span{ padding-left:5px;}
#nav{ background:url(../images/nav_bg.jpg) 0 0 no-repeat; padding-top:1px; padding-bottom:3px;}
.nav_list li{ float:left; background:url(../images/line.jpg) 0 8px no-repeat; padding-left:2px; margin-left:2px; position:relative; z-index:5;}
.nav_list li:first-child{ background:none; padding-left:0;}
.nav_list li a.fir{ display:block; width:121px; height:41px; overflow:hidden; text-align:center; line-height:41px; background:url(../images/nav_bg2.jpg) 0 -41px no-repeat; font-size:14px; color:#343434; font-family:'微软雅黑'; -webkit-transition:background 0.3s ease-in,color 0.5s ease-out; -o-transition:background 0.3s ease-in,color 0.5s ease-out; transition:background 0.3s ease-in,color 0.5s ease-out;}
.nav_list li.current a.fir,.nav_list li.cur a.fir,.nav_list li a.fir:hover{ background-position:0 0; color:#fff;}
.nav_list li dl.subnav{ position:absolute; left:2px; top:41px; border-top:solid 1px #fff; background:#feae31; width:121px; display:none;}
.nav_list li dl.subnav dd{ height:31px; line-height:31px; text-align:center; overflow:hidden; margin-top:1px;}
.nav_list li dl.subnav dd a{ color:#fff; font-size:13px;}
.nav_list li dl.subnav dd:hover{ background:#bf7501;}
.nav_list li.second dl.subnav{ width:270px; left:-74px;}
.nav_list li.second dl.subnav dd{ float:left; margin-left:10px; width:121px;}

#banner{ background:url(../images/banner_bg.jpg) 0 0 repeat-x;}
.banner{ background:#f4f5f7; padding-top:20px; border-bottom:solid 1px #e0e0e0;}
.banner_main{ width:955px; height:346px; overflow:hidden; margin:0 auto; }
.banner_main ul{ height:346px; overflow:hidden;}
.banner_main ul li{ width:955px; height:346px; overflow:hidden;}
.slide{ height:38px; overflow:hidden; width:90px; margin:0 auto;}
.slide_main span{ float:left; width:8px; height:8px; overflow:hidden; margin-top:15px; cursor:pointer; margin-right:10px; background:url(../images/dot.png) 0 0 no-repeat; text-indent:-9999px;}
.slide span:hover,.slide span.active{ background-position:right 0;}



.main_con{ background:url(../images/main_bg1.jpg) 0 0 repeat-x; padding-top:30px;}
.main_top{ background:#f4f5f7 url(../images/line2.jpg) 281px 0 repeat-y; border-left:solid 1px #fff; border-right:solid 1px #fff;}
#left{ float:left; display:inline; width:240px; padding-left:16px;}
.left_menu .title{ height:44px; line-height:44px; padding-bottom:4px; background:url(../images/line3.jpg) 0 bottom no-repeat; font-size:21px; color:#222; font-family:'微软雅黑';}
.left_menu .title a{ float:right; width:22px; height:22px; overflow:hidden; margin-top:11px;}
.left_menu .title a img{ display:block; vertical-align:top;}
.left_menu_list li{ vertical-align:top; margin-top:4px;}
.left_menu_list li:first-child{ margin-top:20px;}
.left_menu_list li a.fir{ background:url(../images/pro_li_bg.jpg) 0 0 no-repeat; display:block; font-size:14px; padding-left:16px; height:30px; line-height:28px; overflow:hidden; color:#626262; -webkit-transition:background 0.3s ease-in,color 0.5s ease-out; -o-transition:background 0.3s ease-in,color 0.5s ease-out; transition:background 0.3s ease-in,color 0.5s ease-out;}
.left_menu_list li.cur a.fir,.left_menu_list li a.fir:hover{ background-position:0 -35px; color:#fff;}
.left_contact{ background:url(../images/main_bg1.jpg) 0 0 repeat-x; border-top:solid 1px #e0e0e0; padding-top:13px; margin-top:23px;}
.public_title{ font-family:'微软雅黑'; color:#222; font-size:21px; height:44px; line-height:44px; padding-bottom:4px; background:url(../images/line3.jpg) 0 bottom no-repeat; padding-right:8px; text-shadow:1px 1px 1px #fff;}
.public_title a{ float:right; width:22px; height:22px; overflow:hidden; margin-top:11px;}
.public_title a img{ display:block; vertical-align:top;}
.left_contact_main{ color:#737373; line-height:23px; padding-top:10px;}
.left_contact_main .name{ color:#3b78c8; font-size:17px; font-family:'微软雅黑';}
.left_contact_pic{ width:230px; height:107px; overflow:hidden; background:url(../images/contact_bg.jpg) 0 0 no-repeat; padding:8px; margin-top:8px; margin-bottom:5px;}
.left_contact_main a{ color:#737373;}
.left_contact_main a:hover{ color:#3b78c8;}

#main_top_right{ float:right; display:inline; width:684px; padding-right:13px;}


.main_bot{ height:48px; overflow:hidden;}
.main_bot img{ display:block; vertical-align:top;}
.line{ height:7px; overflow:hidden; background:url(../images/line5.gif) 0 0 repeat-x; width:1003px; margin:7px auto 0;}

#footer{ color:#aeaeae; line-height:21px; padding:25px 0; background:#000;}
#footer a{ color:#aeaeae;}








